.homeTitle {
  height: 30vh;
  text-align: center;
  font-size: 6vw;
  padding-top: 5vh;
}
.homeSubtitle {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6vw;
  padding-top: 1vh;
}

.homeNavigation {
  height: 60vh;
  text-align: center;
}

.homeCard {
  height: 40vh;
  width: 20vw;
  margin: 15px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  background-color: whitesmoke;
  filter: drop-shadow(5px 10px 10px grey);
  border-radius: 25px;
}

.homeCardImage {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeCardText {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}