.navContainer {
  margin: auto;
  height: 100px;
  background-color: whitesmoke;
}

.navLogo {
  float: left;
  font-size: 2vw;
  font-weight: bold;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2.5vw;
}

.navImage{
  margin-right: .5vw;
}

.navRight {
  float: right;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2.5vw;
}
.navButton {
  width: 10vw;
  height: 30px;
  background-color: lightskyblue;
  border-radius: 10px;
  font-size: 1vw;
}